{% extends "blog/base.html" %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Blog Post</legend>

            <!-- Title Field -->
            <div class="form-group">
                <label for="{{ form.title.id_for_label }}">Title</label>
                {{ form.title }}
                {{ form.title.errors }}
            </div>

            <!-- Content Field -->
            <div class="form-group">
                <label for="{{ form.content.id_for_label }}">Content</label>
                {{ form.content }}
                {{ form.content.errors }}
            </div>

            <!-- Add more fields here if your form has any -->
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Post</button>
        </div>
    </form>
</div>
{% endblock content %}
